mat-card{
    margin-top: 10px;
    background-color: #FFF;
    color: #000;
}

.card-main {
    margin-top: 10px;
    width: auto;
    max-width: 350px;
    margin: auto;
    height: 400px;
  }
  
  .card-footer {
    padding: 16px;
  }


  main{
    width: 100%;
    overflow-x: hidden;
}