section{
    width: 100vw;
    background-color: #FFF;
    min-height: 100vh;
}

.table-main{
    padding: 20px;
    max-width: 1200px;
    margin: auto;

            
        .text-tab{
            color: red !important;
        }
}


.table-def{
    margin-top: 20px;
}
