<mat-dialog-content>
    <mat-dialog-actions>
     <span>Cadastrar campanha</span>
     <div class="spacer"></div>
      <button mat-button mat-dialog-close>Fechar</button>
    </mat-dialog-actions>

    <p>
        <mat-form-field appearance="fill">
          <mat-label>Titulo </mat-label>
          <input matInput placeholder="Titulo" [maxLength]="50" [(ngModel)]="title">
          <mat-hint>{{title?.length}}/50</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Empresa</mat-label>
          <mat-select [(ngModel)]="company">
            @for(oC of objCompany; track oC){
              <mat-option [value]="oC.id">{{oC.social}}</mat-option>}
          </mat-select>
        </mat-form-field>
      </p>


      <p>
        <mat-form-field appearance="fill">
          <mat-label>Data inicial</mat-label>
          <input matInput type="date"  [(ngModel)]="date_start">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Data final</mat-label>
          <input matInput type="date"  [(ngModel)]="date_end">
        </mat-form-field>
      </p>


      <mat-form-field appearance="fill" class="full-form">
        <mat-label>Descrição</mat-label>
         <textarea matInput placeholder="Descrição" [maxLength]="200"  [(ngModel)]="descr"></textarea>
        <mat-hint>{{descr?.length}}/200</mat-hint>
      </mat-form-field> <br>


      <button mat-stroked-button (click)="save()">Salvar</button>

    
</mat-dialog-content>